html, body {
    background: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

.main-page {
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 22px 20px;
    margin-top: 250px;
    margin-left: 150px;
    margin-right: 150px;
    height: auto;
    min-height: 250px;
    outline: none;
    border: none;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-code {
    background-color: #f0f2f5;
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.text-highlight {
    margin: 0 5px;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-subscript {
    vertical-align: sub;
}

.text-superscript {
    vertical-align: super;
}

.banner {
    border-left: 3px #000000 solid;
    background-color: rgba(115, 115, 115, 0.07);
    border-radius: 3px;
    padding: 10px 10px;
}