.main-div {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.main-header {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    margin-left: 10%;
}

.circular-button {
    width: 40px;
    height: 40px;
    background: antiquewhite;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.circular-button:hover {
    background: #FFDEADFF;
}

.title {
    margin-left: 15px;
    background: none;
    border: none;
    outline: none;
    font-size: xx-large;
}

.main-page {
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 20px 22px;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    min-height: 250px;
    max-height: 700px;
    outline: none;
    border: none;
    transition: 0.5s;
    overflow: auto;
    /** max-height: 800px;  575px**/
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-code {
    background-color: rgba(40, 40, 40, 0.07);
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 92%;
    border-radius: 5px;
    padding: 5px 0.5rem;
    line-height: 22pt;
}

.text-highlight {
    margin: 0 5px;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-subscript {
    vertical-align: sub;
}

.text-superscript {
    vertical-align: super;
}

.banner {
    border-left: 3px #FFDEADFF solid;
    background-color: rgba(255, 222, 173, 0.5);
    border-radius: 3px;
    padding: 10px 10px;
}

@media screen and (max-width: 600px) {
    .main-page {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

@media screen and (max-width: 400px) {
    .main-page {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .main-div {
        padding-left: 0;
        padding-right: 0;
    }
}