.menu-bar {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 2px 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    outline: none;
    border: none;
    transition: 0.5s;
}

.menu-item {
    background-color: white;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.action-menu {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    outline: none;
    border: none;
    transition: 0.5s;
}

.action-button {
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
    height: 40px;
    background: antiquewhite;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}

.action-button:hover {
    background: #FFDEADFF;
}

.action-button-active {
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
    height: 40px;
    background: #FFDEADFF;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .menu-bar {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

@media screen and (max-width: 400px) {
    .menu-bar {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .menu-item {
        width: auto;
        height: 50px;
    }
}